import(utils)
import(mvtnorm)

S3method(plot, MAMS)
S3method(plot, MAMS.step_down)
S3method(print, MAMS)
S3method(print, MAMS.sim)
S3method(print, MAMS.step_down)
S3method(summary, MAMS)
S3method(summary, MAMS.sim)
S3method(summary, MAMS.step_down)

export(
       mams,
       mams.sim,
       MAMSNews,
       new.bounds,
       step_down_mams,
       update_mams,
       plot.MAMS,
       plot.MAMS.step_down,
       print.MAMS,
       print.MAMS.sim,
       print.MAMS.step_down,
       summary.MAMS,
       summary.MAMS.sim,
       summary.MAMS.step_down
      )
