import(utils)

export(
       mams,
       mams.sim,
       MAMSNews,
       new.bounds,
       plot.MAMS,
       print.MAMS,
       print.MAMS.sim,
       summary.MAMS,
       summary.MAMS.sim
      )
